@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquard+24&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria: #0000FF;
    --cor-secundaria: white;
    --cor-terciaria: rgb(4, 0, 70);
    --cor-quartenaria: rgb(0, 255, 251);

    --fonte-principal: "Open Sans", sans-serif;
    --fonte-secundaria: "Bebas Neue", sans-serif;
    --fonte-terciaria: "Platypi", serif;

    --tamanho-titulo: 60px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.nico {
    display: flex;
    flex-direction: row-reverse;  
    padding-right: 5px;  
    font-family: var(--fonte-terciaria);
    color: var(--cor-quartenaria);
}


.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    gap: 200px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    gap: 100px;
}

.titulo {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-titulo);
}

.botoes {
    display: flex;
    gap: 120px;
}

.botoes__estilo {
    color: var(--cor-secundaria);
    border: 4px solid gold;
    border-radius: 16px;
    padding: 10px 20px;
    font-family: var(--fonte-principal);
    font-size: 30px;
}

.img__txt {
    display: flex;
    gap: 100px;
}

.sep {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formato_img {
    height: 307px;
    width: 230px;
}

.sub__texto {
    width: 230px;
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    text-align: center;
    color: var(--cor-terciaria);
}

.retornar {
    font-family: var(--fonte-terciaria);
    font-size: 20px;
    color: var(--cor-quartenaria);
    padding-left: 10px;
}

.desespero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}